@model IEnumerable<HRManager.domain.Entities.DayOff>

@{
    ViewBag.Title = "Days off";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Day off demands</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="90%" cellspacing="0">
                <thead>
                    <tr>
                        <th> @Html.DisplayNameFor(model => model.StartDate)</th>
                        <th>  @Html.DisplayNameFor(model => model.EndDate)</th>
                        <th>  @Html.DisplayNameFor(model => model.Duration)</th>
                        <th> @Html.DisplayNameFor(model => model.Description)</th>
                        <th>@Html.DisplayNameFor(model => model.Balance)</th>
                        <th>@Html.DisplayNameFor(model => model.UserId)</th>
                        <th>Actions</th>
                    </tr>
                </thead>


                <tbody>


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.StartDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.EndDate)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duration)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Balance)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserId)
                            </td>
                            <td>
                                @Html.ActionLink("Grant", "Grant", new { item.DayOffId }, new { @class = "btn btn-primary " })
                                @Html.ActionLink("Decline", "Decline", new { item.DayOffId }, new { @class = "btn btn-primary " })
                            </td>
                        </tr>
                    }

                </tbody>
            </table>




        </div>
    </div>
</div>
